body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
}

.left-panel {
    flex: 1;
    background: url(graffiti.jpg);
    background-size: 100%;
}

.right-panel {
    background-color: aliceblue;
    flex:2;
}

.form-row {
    display: flex;
    gap: 20px;
    width: 70vw;
}

.banner {
    font-size: larger;
    margin-top: 25vh;
    height: 15vh;
    width: 30vw;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.665);
}

.rp-top-row {
}

.rp-mid-row {
    background: #fff;
    padding: 2rem 5vw;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.rp-bot-row {

}

.input-group{
    display: flex;
    flex-direction: column;
    gap:5px;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    width: 200px;
    height: 40px;
    background-color: #596D48;
    color: white;
    border-color: #596D48;
    border-radius: 10px;
    border-style: none;
    margin-top: 20px;
}

input {
    padding: 8px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #596D48;
    box-shadow: 0 0 3px rgba(89,109,72,.5);
}
