body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    margin:0px;
    padding: 0px;
}

.container {
    display:flex;
}

.left-panel{
    display:flex;
    height: 100vh;
    width: 30vw;
    background: url(graffiti.jpg);
    background-size: 100%;
}

.right-panel{
    font-weight: 500;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 25vw;
    width:70vw;
    height: 100vh;
}

.form-row{
    display:flex;
    gap: 20px;
}

.banner{
    font-size: larger;
    margin-top: 25vh;
    height: 15vh;
    width: 30vw;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.665);
}

.rp-mid-row{
    
}

label, input{
    display: flex;
    flex-direction: column;
}